<h2>
	Welcome {{currentUser.username}}!
	<a [routerLink]="['/login']" class="btn btn-danger pull-right">Logout</a>
</h2>
<div class="row">
	<div class="col-md-6">
		<h3>Widgets</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Widget</th>
					<th>Price</th>
					<th>Add</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let widget of widgets">
					<td>{{widget.name}}</td>
					<td>{{widget.price | currency}}</td>
					<td><a (click)="addToOrder(widget.id)" routerLinkActive="active" class="btn btn-success btn-xs">add</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3>New Order</h3>
		<table class="table table-bordered" *ngIf="currentOrder !== undefined">
			<thead>
				<tr>
					<th>Widget</th>
					<th>Quantity</th>
					<th>Admin</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let orderItem of currentOrder.widgets">
					<td>{{orderItem.widget.name}}</td>
					<td>{{orderItem.quantity}}</td>
					<td><a (click)="removeOrderItem()" class="btn btn-danger btn-xs">remove</a></td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Orders</h3>
		<table class="table table-bordered" *ngIf="currentOrder !== undefined">
			<thead>
			<tr>
				<th>Widgets</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let order of userOrders">
				<td>{{order.widgets.length}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
