<h2>
	Widgets
</h2>
<table class="table table-bordered">
	<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Price</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	</thead>
	<tr *ngFor="let widget of widgets">
		<td>{{widget.id}}</td>
		<td>{{widget.name}}</td>
		<td>{{widget.price | currency}}</td>
		<td><a routerLink="/admin/widgets/form/{{widget.id}}" routerLinkActive="active" class="btn btn-primary">edit</a></td>
		<td><a routerLink="/admin/widgets/delete/{{widget.id}}" routerLinkActive="active" class="btn btn-danger">delete</a></td>
	</tr>
</table>

